i.fa
{
	color: black;
}

div#zsr-toolbar
{
	position: fixed;
	z-index: 10;
	top: 8px;
	right: 8px;
	height: 32px;
	display: flex;
	opacity: 0.4;
	background: rgba(192, 192, 192, 0.6);
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	font-size: 8pt;
}

div#zsr-toolbar:hover
{
	opacity: 1;
}

div#zsr-toolbar div.zsr-toolbar-expand
{
	flex: 1 1 auto;
}

div#zsr-toolbar div.zsr-toolbar-spacer
{
	width: 8px;
}

div#zsr-toolbar a.zsr-toolbar-button
{
	display: block;
	margin: 0px 12px;
	margin-top: 2px;
}

div#zsr-toolbar a.zsr-close-button
{
	display: block;
	width: 16px;
	height: 16px;
	padding: 0px 16px;
}

div#zsr-toolbar a.zsr-close-button img
{
	width: 100%;
	height: 100%;
}

div#zsr-toolbar form#zsr-search
{
	height: 16px;
	margin: 0px;
}

div#zsr-toolbar form#zsr-search button, form#zsr-search input
{
	height: 100%;
	border: 1px solid #aaa;
	line-height: 100%;
}

div#zsr-toolbar form#zsr-search button
{
	padding: 0px 6px;
}

@media print
{
	div#zsr-toolbar
	{
		display: none;
	}
}
