<!DOCTYPE html>
<html>
<head>
<title>{{ volume.title | escape }}</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/rsrc/css/style.css">
<link rel="stylesheet" href="/rsrc/css/typeahead.css">
<link rel="stylesheet" href="/rsrc/css/font-awesome.min.css">
{% if volume.icon %}
	<link rel="icon" href="/content/{{ volume.id }}/{{ volume.icon }}">
{% endif %}
<style>
html { height: 100%; }
</style>
<script src="/rsrc/js/jquery-2.1.4.min.js"></script>
<script src="/rsrc/js/typeahead.bundle.js"></script>
<script src="/rsrc/js/complete.js"></script>
<script src="/rsrc/js/view.js"></script>
</head>
<body data-volid="{{ volume.id | escape }}" style="margin: 0px;">
<div id="topbar"><div id="toolbar">
	<div class="toolbar-spacer"></div>
	<a href="/" class="toolbar-button" target="_top"><i class="fa fa-lg fa-th-list" title="Library"></i></a>
	<a href="/view/{{ volume.id | url_encode }}/{% if volume.home %}{{ volume.home }}{% endif %}" class="toolbar-button" target="_top"><i class="fa fa-lg fa-home" title="Home page"></i></a>
	{% if live %}
		<a href="{{ live }}{{ query }}" class="toolbar-button" target="_top"><i class="fa fa-lg fa-external-link-alt" title="Original page"></i></a>
	{% endif %}
	<a href="/shuffle/{{ volume.id | url_encode }}" class="toolbar-button" target="_top"><i class="fa fa-lg fa-random" title="Random page"></i></a>
	<div class="toolbar-spacer"></div>
	<div class="toolbar-expand"></div>
	<form id="search">
	<input id="search-input" type="search" placeholder="Search" autocomplete="off" spellcheck="false">
	<button type="submit">Go</button>
	</form>
	<div class="toolbar-spacer"></div>
	<a href="/content/{{ volume.id | url_encode }}/{{ path }}{{ query }}" id="close-button" target="_top"><img src="/rsrc/img/x.svg"></a>
</div></div>
<iframe id="page" name="page" src="/content/{{ volume.id | url_encode }}/{{ path }}{{ query }}"></iframe>
</body>
</html>

